@tags-container-padding: 10px 30px;
@tags-ta-container-padding: 20px 0;
@tags-ta-container-margin: 0 -15px;
@tags-ta-max-height: 300px;
@tags-ta-min-height: 100px;
@tags-ta-padding: 15px;
@tag-list-bg-color: #f5f5f5;
@tag-list-bd-radius: 6px;
@tag-list-container-padding: 20px 0;
@tag-list-min-height: 50px;
@tag-list-border: 1px solid #e8e8e8;
@tag-list-padding: 15px;
@tag-list-item-border-radius: 2px;
@tag-list-item-padding: 2px 20px 2px 6px;
@tag-list-item-font-color: #ffffff;
@tag-list-item-font-size: 12px;
@tag-list-item-line-height: 16px;
@tag-list-item-font-weight: bold;
@tag-list-item-margin-right: 2px;
@tag-list-item-red-color: #d55555;
@tag-list-item-blue-color: #64c0da;
@tag-list-item-close-icon-size: 20px;
@modal-content-padding: 20px;

.tags-container {
  padding: @tags-container-padding;

  .tags-textarea-container {
    padding: @tags-ta-container-padding;
    margin: @tags-ta-container-margin;

    & > .tags-textarea {
      resize: vertical;
      max-height: @tags-ta-max-height;
      min-height: @tags-ta-min-height;
      padding: @tags-ta-padding;
    }
  }

  .modal-dialog .modal-content {
    padding: @modal-content-padding;
  }

  .tag-list-container {
    padding: @tag-list-container-padding;

    & > ul.tags-list {
      background-color: @tag-list-bg-color;
      border-radius: @tag-list-bd-radius;
      min-height: @tag-list-min-height;
      border: @tag-list-border;
      padding: @tag-list-padding;

      & > li.tags-list__tag {
        display: inline-block;
        position: relative;
        border-radius: @tag-list-item-border-radius;
        padding: @tag-list-item-padding;
        color: @tag-list-item-font-color;
        font-size: @tag-list-item-font-size;
        font-weight: @tag-list-item-font-weight;
        line-height: @tag-list-item-line-height;
        margin-right: @tag-list-item-margin-right;

        &.redTag {
          background-color: @tag-list-item-red-color;
        }

        &.blueTag {
          background-color: @tag-list-item-blue-color;
        }

        .tags-list__tag__close {
          display: inline-block;
          position: absolute;
          text-align: center;
          line-height: @tag-list-item-close-icon-size;
          width: @tag-list-item-close-icon-size;
          cursor: pointer;
          right: 0;
          top: 0;

          &:before {
            content: '×';
          }
        }
      }
    }
  }
}